{
  "presets": [
    "react",
    ["env", {"modules": false}],
    "stage-1"
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": false,
      "moduleName": "@babel/runtime"
    }],
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
  ]
}

